@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Dosis');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
h1{
  font-family: 'Leckerli One', cursive;
  font-size: 90px;
  background-image: url("https://www.rvinyl.com/Shared/Images/Product/Rwraps-reg-Animal-Print-Vinyl-Film-Wrap-Zebra/Zebra-Vinyl-Wraps.jpg");
  background-repeat: no-repeat;
  opacity: 0.6;
  background-size: cover;
  color:#bfd8d2;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.operators{
  position: absolute;
  top:23.3%;
  left:100%;
}
.opButton{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:25px;
  padding-right:24.5px;
  display: flex ;
  flex-direction: column-reverse;
  box-shadow: rgba(255, 255, 255, 0.85) 0 0px 0px 40px inset;
  border: rgba(199, 145, 187, 0.7) solid 1px;
}
.screen{
  background-color: rgba(226, 223, 226);  
  box-shadow: rgba(199, 145, 187, 0.7) 0 0px 0px 2px inset;
  color:black;
  position: relative;
  width:145%;
  height: 20px;
  padding-top:30px;
  padding-bottom:30px;
}
.clear{
  padding:18px;
  width:130px;
  border-radius:5%;
  position: absolute;
  left:200%;
  top:40%;
  border: white solid 1px;
  color: rgba(30, 22, 54, 0.7);
  box-shadow: #bfd8d2 0 0px 0px 40px inset;
  
}
.clear:hover{
  
  color: rgba(30, 22, 54, 0.7);
  box-shadow: beige 0 0px 0px 40px inset;
  border: #bfd8d2 solid 1.5px;
  
}
body{
  background-color: #d5d5d5;
}
.calc-border {
  width:54%;
  position: absolute;
  top:5%;
  left:10%;
  font-family: 'Dosis', sans-serif;
}
.box{
  border-radius: 6%;
  left:35%;
  top:35%;
  width:18%;
  background-color:rgb(246, 244, 244);
  position: absolute;
  height: 380px;
  border: rgb(167, 160, 160) solid 2px;
}
.numButton{
  
  display: inline-flex; 
  flex-wrap: wrap-reverse ;
  flex-direction: row;
  width:40%;
  padding-left:11px;
  
  height: 50px;
  background-color: white;
    color: rgba(30, 22, 54, 0.6);
   
    color: rgba(255, 255, 255, 0.85);
  box-shadow: #bfd8d2 0 0px 0px 40px inset;
  
  border: white dashed 1px;
}

.numButton:hover, .opButton:hover {
  color:  rgba(30, 22, 54, 0.6);
  box-shadow: beige 0 0px 0px 40px inset;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
